- count = 0
- flash.each do |type, message|
  - if message.class == String
    - count += 1
    :javascript
      setTimeout(function() {
        return flash_message.#{type}("#{message.gsub(/"/, '\"')}");
      }, #{(count - 1)*1200 + 1});
    =#.ui.info.message{:class => "#{type}"}
    =#  %i.close.icon
    =#  %p= message
