.center
  - if !!current_staff
    %a{href: ''}
      工作人員：#{current_staff.username}
    \ －
    %a{href: ''}
      工作人員控制台
    \ －
    %a{href: destroy_staff_session_path, 'data-method' => :delete}
      登出工作人員
  - else
    %a{href: new_staff_session_path}
      工作人員登入
